body{
    background-color:rgb(255, 226, 80);
}

h1{
    color:lightskyblue;
    background-color:wheat;
}


#show_sketch{
    float:right;
}

canvas{
    border:5px solid white;
    border-radius:20px;
    animation-name: example;
    animation-duration: 4s;
    margin-top:50px;
    animation-iteration-count:infinite;
}

@keyframes example{
    from{box-shadow: 1px 1px 38px aliceblue;}
    to{box-shadow: 1px 1px 38px darkblue;}
}
p{
    padding-top:10px;
    font-size:25px;
}